.hero-img{
    background-image: url("images/crack.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height:300px;
}

.hero-img-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2000;
    background-color: white; 
    color:rgb(77, 14, 77);
    box-shadow: black 2px 5px 10px;
    padding:20px;
}

h2{
    color: lavender;
    text-shadow: black 1px 1px 10px;
}

.slidecontainer{
    width: 100%;
}


figcaption{
    text-align: center;
    font-size: 30px;
}

#home-grid{
    display: grid;
    grid-template-columns: 0.6fr 1fr;
}

