*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: white;
    font-size:20px;
}

main {
    flex: 1;
}

header{
    background-color: #89d0d6;
}

li{
    list-style: none;
}

a{
    color:white;
    text-decoration: none;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu{
    display:flex;
    justify-content: space-between;
    align-items:center;
    gap:60px;
}

.nav-branding{
    font-size:2rem;
    max-width: 30%;
    float:left;
    padding:10px;
}

.nav-link{
    transition: 0.7s ease;
}

.nav-link:hover{
    color:#a94926;
    cursor:pointer;
}

.hamburger{
    display:none;
    cursor: pointer;
}

.bar{
    display:block;
    width:25px;
    height:3px;
    margin:5px auto;
    transition: all 0.3s ease-in-out;
    background: white;
}

img{
    margin: auto;
    max-height: 300px;
}

@media  screen and (max-width:768px) {
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity:0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: absolute;
        left:-100%;
        top:85px;
        gap:0;
        flex-direction: column;
        background-color:#89d0d6;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 1000;
    }

    .nav-item{
        margin:16px 0;
    }

    .nav-menu.active{
        left:0;
       
    }
}

.button{
    background-color: #89d0d6;
    color: white;
    border-radius: 25px;
    text-align: center;
    margin: 15px;
    padding:20px;
}

.button:hover{
    cursor: pointer;
    opacity: 0.3;
}

.info{
    border-radius: 20px;
    box-shadow: 10px 5px 5px gray;
    background-color: #fefbea;
    border: #a94926 solid 5px;
}

p{
    padding:25px;
    width:90%;
    margin:50px auto;
}

h1{
    color: #a94926;
}

h2{
    color: #a94926;
}

h3{
    margin-top: 10px;
    font-size: 20px;
}

h4{
    font-weight: 400;
}

h6{
    font-weight: 400;
}

em{
    margin-top:25px;
}

footer{
    background-color: #89d0d6;
    position: static;
    min-height: 70px;
    width: 100%;
    left: 0;
    bottom: 0;
}